<app-head-nav></app-head-nav>
<div class="container">
  <h1>Administration</h1>
  <div class="card">
    <div class="card-body">

      <div *ngIf="addSuccess" class="alert alert-success alert-dismissible fade show" role="alert">Your step was added!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hideAlert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="addFailure" class="alert alert-danger alert-dismissible fade show" role="alert">Sorry, your step could
        not be added at this time.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="hideAlert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <h3 class="banner">Add a new Step to the Onboarding Process</h3>
      <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input formControlName="title" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="editor">Content</label>
          <quill-editor formControlName="editor" [styles]="editorStyle"></quill-editor>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="banner">Asset Controls</h3>
      <form>
        <div class="form-group">
          <label for="assetName">Enter a new asset for the associates</label>
          <input id="assetName" type="text" class="form-control" #assetName>
        </div>
        <button type="submit" class="btn btn-primary"
          (click)="addAsset(assetName.value); assetName.value='';">Add</button>
      </form>
    </div>
  </div>
</div>