<app-head-nav></app-head-nav>
<div class="container-fluid">
  <div class="row">
    <div class="container col-9">
      <h2>{{user?.FirstName}}'s Progress</h2>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="stepProgress" aria-valuemin="0" aria-valuemax="100" [style.width]="stepProgress + '%'">
          {{stepProgress}}%</div>
      </div>

      <div class="card">
        <div class="card-header ">
          <h2>{{currentCategory.name}}</h2>
        </div>
        <div class=" card-body">
          <div *ngFor="let step of currentCategory.steps">
            <h4>{{step.complete ? step.title + " (completed)" : step.title}}</h4>
            <div [innerHTML]="step.content"></div>
            <button *ngIf="!step.complete" class="btn btn-primary" (click)='completeStep(step.title)'>Complete
              Step</button>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>


  </div>
</div>