<div class="home container">

  <h1 *ngIf="userData.length">Logged In!</h1>

  <div class="jumbotron">
    <h1>The RSI Life Jacket</h1>
    <p>The guide to stay afloat during your onboarding</p>
    <hr class="my-4">
    <p>You can log in here with your Rural Sourcing Google account that has been premade for you.</p>
    <div *ngIf="resultMessage" class="alert alert-dismissible alert-warning">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Warning!</h4>
      <p class="mb-0"><a href="#" class="alert-link">{{resultMessage}}</a></p>
    </div>
    <button (click)="logInWithGoogle('Google')" class="btn btn-success">
      <i class="fab fa-google"></i> Login with Google
    </button>
  </div>

</div>