<nav class="navbar navbar-expand-lg navbar-dark bg-primary"><a class="navbar-brand" href="#">RSI Life Jacket</a></nav>
<div class="home container">
  <agm-map [latitude]='latitude' [longitude]='longitude'>

  </agm-map>
  <div class="jumbotron">
    <h1>The RSI Life Jacket</h1>
    <p>The guide to stay afloat during your onboarding</p>
    <hr class="my-4">
    <p>You can log in here with your Rural Sourcing Google account that has been premade for you.</p>
    <div *ngIf="resultMessage" class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4 class="alert-heading">Warning!</h4>
      <p class="mb-0"><a href="#" class="alert-link">{{resultMessage}}</a></p>
    </div>
    <button (click)="logInWithGoogle('Google')" class="btn btn-success">
      <i class="fab fa-google"></i> Login with Google
    </button>
  </div>
</div>