<div class="home container-fluid">

  <h1 *ngIf="userData.length">Logged In!</h1>

  <div class="home-title">
    <h1>The RSI Life Jacket</h1>
    <p>The guide to stay afloat during your onboarding</p>
  </div>

  <div class="login card">
    <div class="card-body">
      <h2>Login</h2>
      <h5 class="danger">{{resultMessage}}</h5>
      <button (click)="logInWithGoogle('Google')" class="btn btn-success Google"> Google Login </button>
      <button (click)="logOut()" class="btn btn-success Google">Sign Out</button>
    </div>
  </div>

</div>