<app-head-nav></app-head-nav>
<div class="container user">
  <div class="card">

    <div *ngIf="firstTime">
      <div class="card-header">
        <h2>Hello, {{user?.name}}</h2>
      </div>
      <div class="card-body">
        <p class="biggerText">It looks like this is your first time! Welcome to the team.</p>
        <hr class="my-4">
        <a routerLink="/user/{{categories[0].name}}" class="btn btn-info">
          Begin
        </a>
      </div>
    </div>

    <div *ngIf="!firstTime">
      <div class="card-header">
        <h2>Welcome back {{user?.FirstName}}!</h2>
      </div>
      <div class="card-body">
        <p class="biggerText">You're making great progress! Keep up the great work!</p>
        <p class="biggerText">Lets continue with {{user?.pendingCategory}}</p>
        <hr class="my-4">
        <a routerLink="/user/{{user?.pendingCategory}}" class="btn btn-info">
          Continue
        </a>
      </div>
    </div>

  </div>
</div>