<div *ngFor="let user of users | async">
  <app-head-nav></app-head-nav>
  <div class="container">
    <h3>You're {{stepProgress}}% complete with onboarding.</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="stepProgress" aria-valuemin="0" aria-valuemax="100" [style.width]="stepProgress + '%'"></div>
    </div>
    <h4>Here's what you need to complete to join the team:</h4>
    <div *ngFor="let step of steps | async" class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="{{step.title}}">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse"
              [attr.data-target]="'#' + step.title + '-body'" aria-expanded="true" aria-controls="collapseOne"
              [disabled]="step.complete ? true : false">
              {{step.complete ? step.title + " (completed)" : step.title}}
            </button>
          </h2>
        </div>

        <div [attr.id]="step.title + '-body'" [className]="step.pending ? 'collapse show' : 'collapse'"
          aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            {{step.content}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>